body {
    background-image: url(../images/bg.png);
    background-size: cover;
}

.jumbotron {
    background: none;
}

.wrapper {
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    opacity: 0.9;
    box-shadow: 0 0 56px -5px #333;
    border: 1px solid #cfcfcf;
    top: 100px;
    bottom: 100px;
    left: 100px;
    right: 100px;
}
